<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{ifset title}{include title|striptags} | {/ifset} {$htmlTitle}</title>
	<link rel="shortcut icon" type="image/png" href="{$basePath}/favicon.png">
        <!-- Bootstrap Core CSS -->
        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{$basePath}/css/custom.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
  <div class="container" id="page">
    <div class="container hidden-xs" id="img-wrapper">
        <div class="row">
            <div class="col-md-12" id="img-bg-small"></div>
        </div>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{plink Homepage:default}">
                    <span><img src="{$basePath}/img/logo.png" alt="" height="70" ></span>
                    &nbsp;&nbsp;&nbsp;Virtuální&nbsp;asistentka
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{plink Homepage:default}">Úvod</a>
                    </li>
                    <li>
                        <a href="{plink Reference:default}">Reference</a>
                    </li>
                    <li>
                        <a href="{plink Kontakt:default}">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- page content -->
    <div class="container-fluid minheight">
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        {include content}
    </div>
    <!-- /.page content -->

    <footer>
      <div class="container-fluid footer-bg">
          <div class="row">
            <div class="col-md-6" style="height: 65px;">
                <div style="float:left; margin-top: 5px;"><img src="{$basePath}/img/logo.png" alt="" height="50"></div>
                <div style="float:left; margin-left: 20px;">
                    <p class="footer-info">www.insolvencnispravce.info</p>
                    <p class="footer-info">e-mail: info@insolvence.as</p>
                    <p class="footer-info">telefon: 739 389 718</p>
                </div>
            </div>
            <div class="col-md-6">
              <p class="footer-adrress text-right">Insolvence 2008, a.s.</p>
              <p class="footer-adrress text-right">Kopečná 231/10</p>
              <p class="footer-adrress text-right">Brno 602 00</p>
            </div>
          </div>
      </div>
    </footer>
    
  </div>
    {block scripts}
        <script src="netteForms.js"></script>
        <!-- jQuery Version 1.11.1 -->
        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/base.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{$basePath}/js/bootstrap.min.js"></script>
    {/block}
</body>
</html>