<h3>Nová zpráva z Virtuální asistentky</h3>
<table>
  <tr><td style="width: 60px;"><strong>Jméno:</strong></td><td> {$name}</td></tr>
  <tr><td style="width: 60px;"><strong>E-mail:</strong></td><td> <a href="mailto:{$email}">{$email}</a></td></tr>
  <tr><td style="width: 60px;"><strong>Telefon:</strong></td><td> {$phone}</td></tr>
</table>
<h4>Text zprávy</h4>
<p>{nl2br($message)|noescape}</p>